*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: .2s linear;
	font-family: "poppins",sans-serif;
}
nav {
  background-color: #333;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-bander{
	display: block;
	align-items: center;
}

.navbar-bander{
	background-color:gray;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 30px;
	transition: transform .1s;
}
.navbar-bander:hover{
	transform: scale(1.2);
}

.nav-item{
	background-color:blue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 30px;
	transition: transform .1s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item{
  margin: 0 5px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border: 9px;
}

.nav-item:hover {
  background-color: red;
  border: 9px;
}






.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.picture {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.picture img {
	max-width: 10px;
	margin: 10px;
}

.info {
	margin-top: 50px;
	text-align: left;
}

.info h2 {
	font-size: 24px;
	margin-bottom: 10px;
	border: thick;
}

.info p {
	font-size: 16px;
	line-height: 1.5;
}
.container {
			max-width: 800px;
			margin: 0 auto;
			text-align: center;
		}

		.picture {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.picture img {
			max-width: 200px;
			margin: 100px;
		}

		.info {
			margin-top: 50px;
			text-align: left;
		}

		.info h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.info p {
			font-size: 18px;
			line-height: 1.5;
		}